@{
    ViewData["Title"] = "Yusuf Sönmez - Home";
}



<!-- Header -->
<header id="head">
    <div class="container">
        <div class="row">
            <h1 class="lead">HEY, HOŞGELDİN</h1>
            <p class="tagline"></p>
            <p><a class="btn btn-default btn-lg" role="button" asp-controller="">Ben Kimim?</a> <a class="btn btn-action btn-lg" role="button">Sakarya</a></p>
        </div>
    </div>
</header>
<!-- /Header -->
<!-- Intro -->
<div class="container text-center">
    <br> <br>
    <h2 class="thin">Selam Ziyaretçi,</h2>
    <p class="text-muted">
        İsmim Yusuf Sönmez, Sakarya Üniversitesi Bilgisayar Mühendisliğinde okuyorum. Kendimle ve yaşadığım şehirle alakalı bilgiler paylaştığım
         web sitemdesin.  
    </p>
</div>
<!-- /Intro-->
<!-- Highlights - jumbotron -->
<div class="jumbotron top-space">
    <div class="container">

        <h3 class="text-center thin"></h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-plane"></i>Seyahat</h4></div>
                <div class="h-body text-center">
                    <p>Seyahat etmek en çok keyif aldığım aktivitelerden biri. Yeni yerler görmek, yeni insanlarla tanışmak ve en önemlisi deneyim biriktirmek için muhteşem bir fırsat.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-code"></i>Coding</h4></div>
                <div class="h-body text-center">
                    <p>Kod yazmak mesleğim gereği günümün çoğunu geçirdiğim bir aktivite. Ayrıca bilgisayarı seven biri olarak bunun dışında nasıl bir işte çalışabilirdim bilemiyorum.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-book"></i>Kitap Okumak</h4></div>
                <div class="h-body text-center">
                    <p>Kitap en az seyahat kadar bana farklı görüşler kazandırıyor. Kitap okurken olağanüstü zekalarla sohbet etme, onlardan fikirlerini aracısız öğrenme düşüncesi her an okuma arzumu tazeliyor.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-film"></i>Film İzlemek</h4></div>
                <div class="h-body text-center">
                    <p>Zekice kurgulanmış, görüntüleri sanat eserinden fırlama, seyirciyi hayrete düşüren filmler, rolünü yaşayan oyuncularla birleşiyorsa eğer, hayatı bir süreliğine durdurup senaryonun içinde yaşamak pek de kötü bir fikir olmasa gerek?</p>
                </div>
            </div>
        </div> <!-- /row  -->

    </div>
</div>
<!-- /Highlights -->

