
<style>
    .center {
        margin: auto;
        width: 60%;
        border-radius: 15px;
        padding: 10px;
    }
</style>

<div class="col-md-8">
    <div class="center">
        <h2 class="center"><i class="fa fa-plane"></i> İletiniz Gönderildi </h2>
    </div>
</div>
