@{
    ViewData["Title"] = "İletişim";
}

@model Contact


<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
        <li class="active">İletişim</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-9 maincontent">
            <header class="page-header">
                <h1 class="page-title">Bana Mesaj Gönder</h1>
            </header>

            <p>
                Senden düşüncelerini dinlemek harika olur. Birlikte çalışmakla ilgileniyor musun? Eğer cevabın evetse aşağıdaki formu doldur ve bana fikirlerinden bahset. Sana en kısa sürede dönüş yapacağım. :)
            </p>
            <br>
            <form asp-controller="Contact" asp-action="AddContact" method="post">
                <div class="row">
                    <div class="col-sm-4">
                        <input asp-for="Name" class="form-control"placeholder="Name">
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Email" class="form-control" type="text" placeholder="Email">
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Phone" class="form-control" type="text" placeholder="Phone">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea asp-for="Content" placeholder="Type your message here..." class="form-control" rows="9"></textarea>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        <input class="btn btn-action" type="submit" value="Mesajı Gönder">
                    </div>
                </div>
            </form>

        </article>
        <!-- /Article -->
        <!-- Sidebar -->
        <aside class="col-sm-3 sidebar sidebar-right">

            <div class="widget">
                <h4>Adres</h4>
                <address>
                    Korucuk Mahallesi, Adapazarı, Sakarya, TR
                </address>
                <h4>Telefon:</h4>
                <address>
                    (554) 660-3782
                </address>
            </div>

        </aside>
        <!-- /Sidebar -->

    </div>
</div>	<!-- /container -->
